body {
  margin: 0px auto 0 auto;
  background-color: #3d9c64;
  font-family: 'Teko', sans-serif;
 
}

 header {
   
  background-color: #fafafa;
  height: 120px;
  padding-top: 20px;
  
  
 }
    

header h1{
   text-align: center; 
  
  color: #414141;
   font-size: 30px;
letter-spacing: 0.055em;
  
  
  

}

 header nav {
   text-align: center; 
}

header nav ul li{
  display: inline-block;
  padding-left: 100px;
  margin-right: 130px; 
  
}

header nav ul li a{
   color: #414141;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-weight: bold; 
}

a:hover{
   color:#26802f; 
}

main{ 


}

#sec1{
background: #414141;
 height: 150px;
 text-align: center; 
  /* color:#fcfcf5; */
 padding-top: 20px;
 /* font-size: 35px; */ 
 
 box-shadow: inset 0px 9px 7px rgba(0, 0, 0, 0.39);
 position: relative;


 
}

#sec1 h3{
  color: white;
 /* padding-top: 20px; */
 font-weight: bold;
font-size: 60px;
line-height: 120.4%;
/* or 79px */

letter-spacing: 0.025em;
margin: 0;
padding-top: 30px;





 
  
}

#sec2 {
  background-color:#41414138;
margin-bottom: 110px;

}

.img{
  padding-top:30px;
   padding-left: 150px;  
  margin-right: 80px;
  text-align: center;
  display: inline-block;
  /* background-color: #23202038;
  border-radius:  */

}

main section div a{
   color:#fcfcf5;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-weight: bold; 

}

footer{
  color:#fcfcf5;
  text-align: center;
  height: 30px;
  
}
